{% set width = "512" %}
{% set padding = "12" %}
<h1>Alignment</h1>
<p>
Width: {{ width }}px
</p>
<p>
align only works on <strong>tr</strong>.
</p>
<table cellpadding="{{ padding }}" border="1" width="{{ width }}">
  <thead>
    <tr align="center">
      <th align="left">left</td>
      <th align="center">center</td>
      <th align="right">right</td>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <td align="left">left</td>
      <td align="center">center</td>
      <td align="right">right</td>
    </tr>
    <tr align="left">
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr align="center">
      <td>center</td>
      <td>center</td>
      <td>center</td>
    </tr>
    <tr align="right">
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr align="center">
      <td rowspan="2">rowspan 2</td>
      <td>center</td>
      <td>center</td>
    </tr>
    <tr align="left">
      <td colspan="3">colspan 3</td>
    </tr>
  <tbody>
</table>
