{% set hcolour = "555555" %}
<h1>{{ name }}</h1>
<em><strong>{{ type }}</strong> ({{ cost }} Credits)</em>
<table cellpadding="4" border="1" width="480">
  <thead>
    <tr bgcolor="#{{ hcolour }}" align="center">
      <th>M</th>
      <th>WS</th>
      <th>BS</th>
      <th>S</th>
      <th>T</th>
      <th>W</th>
      <th>I</th>
      <th>A</th>
      <th>Ld</th>
      <th>Cl</th>
      <th>Wil</th>
      <th>Int</th>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <td>{{ m   }}&quot;</td>
      <td>{{ ws  }}+</td>
      <td>{{ bs  }}+</td>
      <td>{{ s   }}</td>
      <td>{{ t   }}</td>
      <td>{{ w   }}</td>
      <td>{{ i   }}+</td>
      <td>{{ a   }}</td>
      <td>{{ ld  }}+</td>
      <td>{{ cl  }}+</td>
      <td>{{ wil }}+</td>
      <td>{{ int }}+</td>
    </tr>
  <tbody>
</table>
<p>
{% if wargear %}
<strong>Wargear:</strong> {{ wargear|join(", ") }}<br>
{% endif %}
{% if skills %}
<strong>Skills:</strong> {{ skills|join(", ") }}<br>
{% endif %}
{% if rules %}
<strong>Rules:</strong> {{ rules|join(", ") }}<br>
{% endif %}
</p>
{% if notes %}
<p>{{ notes }}</p>
{% endif %}
<table cellpadding="4" border="1">
  <thead>
    <tr bgcolor="#{{ hcolour }}" align="center">
      <th>Weapon</th>
      <th>S</th>
      <th>L</th>
      <th>S</th>
      <th>L</th>
      <th>Str</th>
      <th>D</th>
      <th>Ap</th>
      <th>Am</th>
    </tr>
  </thead>
  <tbody>
{% for w in weapons %}
    <tr align="left" {{ loop.cycle("", 'bgcolor="#eeeeee"')|safe }}>
      <td rowspan="2">
        <strong>{{ w.name|abbr|wordwrap(10, wrapstring="<br>")|safe }}</strong>
      </td>
      <td colspan="8">{{ w.traits|join(", ") }}</td>
    </tr>
    <tr align="center" {{ loop.cycle("", 'bgcolor="#eeeeee"')|safe }}>
      <td>{{ w.r_s }}</td>
      <td>{{ w.r_l }}</td>
      <td>{{ w.a_s }}</td>
      <td>{{ w.a_l }}</td>
      <td>{{ w.s   }}</td>
      <td>{{ w.d   }}</td>
      <td>{{ w.ap  }}</td>
      <td>{{ w.am  }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<p>
{% if wargear|default(False) %}
{% for gear, desc in wargear|dictsort if desc %}
<strong>{{ gear }} <sup><small>(wargear)</small></sup></strong><br>
{{ desc }}<br><br>
{% endfor %}
{% endif %}
{% if traits|default(False) %}
{% for trait, desc in traits|dictsort if desc %}
<strong>{{ trait }} <sup><small>(trait)</small></sup></strong><br>
{{ desc }}<br><br>
{% endfor %}
{% endif %}
{% if skills|default(False) %}
{% for skill, desc in skills|dictsort if desc %}
<strong>{{ skill }} <sup><small>(skill)</small></sup></strong><br>
{{ desc }}<br><br>
{% endfor %}
{% endif %}
{% if rules|default(False) %}
{% for rule, desc in rules|dictsort if desc %}
<strong>{{ rule }}</strong><br>
{{ desc }}<br><br>
{% endfor %}
{% endif %}
</p>
