{% set width = "512" %}
{% set padding = "6" %}
<h1>Greyscale</h1>
<p>
Width: {{ width }}px
</p>
<p>
bgcolor on <strong>tr</strong>.
</p>
<table cellpadding="{{ padding }}" width="{{ width }}">
  <tbody>
    {% for colour in colours %}
    <tr bgcolor="#{{ colour }}">
      {% if loop.index < colours|length * 0.6 %}
      <th>
        tr.bgcolor: {{ colour }}
      </th>
      {% else %}
      <td>
        tr.bgcolor: {{ colour }}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  <tbody>
</table>
<p>
<strong>td</strong> supports bgcolor, <strong>th</strong> does not.
</p>
<table cellpadding="{{ padding }}" width="{{ width }}">
  <tbody>
    {% for colour in colours %}
    <tr>
      <td>
        td.bgcolor: {{ colour }}
      </td>
      <td bgcolor="#{{ colour }}">
        {{ colour }}
      </td>
    </tr>
    {% endfor %}
  <tbody>
</table>
